@model List<AnimationModel>
@{
    ViewData["Title"] = "Animation Page";
}

<div class="text-center">
    <h1 class="display-4">Group 8 - Hobbies</h1>
    <h2 style=text-align:center;>@ViewData["Title"]</h2>

    <p>Animation is a great way to learn new behaviors and have fun. It's a fun way to have your own fantasy. In the table below, I have listed some of my favorite animes. Remember: ANIME IS NOT CARTOON.</p>

    <a asp-controller="AnimationController" asp-action="Add">Add New Animation</a>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Publish Year</th>
                <th>Watching Year</th>
                <th>Rate</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var anime in Model)
            {
                <tr>
                    <td>@anime.Name</td>
                    <td>@anime.PublishYear</td>
                    <td>@anime.WatchingYear</td>
                    <td>@anime.Rate</td>
                    <td>
                        <a asp-controller="AnimationController" asp-action="Edit" asp-route-id="@anime.AnimeId">Edit</a>
                        <a asp-controller="AnimationController" asp-action="Delete" asp-route-id="@anime.AnimeId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
