@model List<AnimationModel>
@{
    ViewData["Title"] = "Animation Page";
}

<div class="text-center">
    <h1 class="display-4">Group 8 - Hobbies</h1>
    <h2>Animation Page</h2>
    <a asp-controller="AnimationController" asp-action="Add">Add New Animation</a>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Publish Year</th>
                <th>Watching Year</th>
                <th>Rate</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var anime in Model)
            {
                <tr>
                    <td>@anime.Name</td>
                    <td>@anime.PublishYear</td>
                    <td>@anime.WatchingYear</td>
                    <td>@anime.Rate</td>
                    <td>
                        <a asp-controller="AnimationController" asp-action="Edit" asp-route-id="@anime.AnimeId">Edit</a>
                        <a asp-controller="AnimationController" asp-action="Delete" asp-route-id="@anime.AnimeId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<body> <!-- style="background-color:#C0C0C0;"-->
    <div id="wrapper">
        <header>
        </header>
        <main>
            <P> info about the hobby will be contained here. for example, why you like it, reasoning for table elements,
                etc.
            <p> this is a demo table. it obviously doesn't have data fed into it but this is what the tables will look
                like. i will change the styling for the table later on.
        </main>
        <footer>
            Copyright &copy; 2022 University of Cincinnati, IT3047C<br>
            <a href=https://github.com/Xiao0909/Group8_Hobbies>Github Repo!</a>
        </footer>
    </div>
</body>
