@using Group8_Hobbies.Models.Sports
@model List<SportsModel>
@{
    ViewData["Title"] = "Sports Page";
}

<div class="text-center">
    <h1 class="display-4">Group 8 - Hobbies</h1>
    <h2 style=text-align:center;>@ViewData["Title"]</h2>

    <p>Sports are a great way of keeping yourself fit. I like sports. So should you.</p>
    @*<a asp-controller="SportsController" asp-action="Add">Add New Sport</a>*@
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Sports Name</th>
                <th>Sports Description</th>
                <th>Team Name</th>
                <th>Team Wins</th>
                <th>Team Losses</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var sport in Model)
            {
                <tr>
                    <td>@sport.SportsName</td>
                    <td>@sport.SportsDescription</td>
                    <td>@sport.TeamName</td>
                    <td>@sport.TeamWins</td>
                    <td>@sport.TeamLosses</td>
                    @*<td>
                        <a asp-controller="SportsController" asp-action="Edit" asp-route-id="@sport.SportsModelId">Edit</a>
                        <a asp-controller="SportsController" asp-action="Delete" asp-route-id="@sport.SportsModelId">Delete</a>
                        </td>*@
                </tr>
            }
        </tbody>
    </table>
</div>