@using Group8_Hobbies.Models.Games
@model List<GamesModel>
@{ ViewData["Title"] = "Games Page"; }

<div class="text-center">
    <h1 class="display-4">Group 8 - Hobbies</h1>
    <h2 style=text-align:center;>@ViewData["Title"]</h2>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Game Name</th>
                <th>Game Genre</th>
                <th>Available Platforms</th>
                <th>Game Publisher</th>
                <th>Rating (X out of 10)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var game in Model)
            {
<tr>
    <td>@game.GameName</td>
    <td>@game.GameGenre</td>
    <td>@game.AvailablePlatform</td>
    <td>@game.GamePublisher</td>
    <td>@game.PersonalRating</td>
   
</tr>            }
        </tbody>
    </table>
</div>